In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv('model2_Dataa.csv')

In [3]:
y=ds['Diet']

In [4]:
y_cat = pd.get_dummies(y)

In [5]:
X =ds[ ['age', 'Diabeties', 'BP',
       'Prefer Dairy Products', 'Prefer Food Type'] ]

In [6]:
db = X['Diabeties']

In [7]:
db = pd.get_dummies(db , drop_first=True)

In [8]:
bp = X['BP']

In [9]:
bp= pd.get_dummies(bp , drop_first=True)

In [10]:
fd = X['Prefer Food Type']

In [11]:
fd  = pd.get_dummies(fd, drop_first=True)

In [12]:
br = X['Prefer Dairy Products']

In [13]:
br = pd.get_dummies(br , drop_first=True)

In [14]:
brr=br

In [15]:
brr

     Sometimes  Yes
0            0    1
1            0    0
2            0    1
3            0    1
4            0    1
..         ...  ...
209          0    0
210          0    0
211          0    0
212          0    0
213          0    0

[214 rows x 2 columns]

In [16]:
brr=pd.get_dummies(br , drop_first=True)

In [20]:
brr1=brr['Yes']

In [22]:
brr1=pd.get_dummies(brr1, drop_first=True)

In [23]:
brr1

     1
0    1
1    0
2    1
3    1
4    1
..  ..
209  0
210  0
211  0
212  0
213  0

[214 rows x 1 columns]

In [111]:
brr

     Sometimes  Yes
0            0    1
1            0    0
2            0    1
3            0    1
4            0    1
..         ...  ...
209          0    0
210          0    0
211          0    0
212          0    0
213          0    0

[214 rows x 2 columns]

In [25]:
age = ds['age']

In [26]:
final_dataset = pd.concat( [ age,db,bp,fd,brr1], axis=1)

In [27]:
X=final_dataset

In [164]:
X[0:115]

     age  Yes  Yes  Veg  1
0     22    1    0    0  1
1     42    1    0    1  0
2     50    0    0    1  1
3     30    0    0    0  1
4     34    0    0    1  1
..   ...  ...  ...  ... ..
110   22    0    1    0  0
111   55    0    1    0  0
112   30    0    1    1  0
113   42    0    1    0  0
114   45    0    1    0  0

[115 rows x 5 columns]

In [29]:
y_cat

     1  2  3
0    1  0  0
1    0  1  0
2    0  1  0
3    0  1  0
4    0  1  0
..  .. .. ..
209  0  0  1
210  0  0  1
211  0  0  1
212  0  0  1
213  0  0  1

[214 rows x 3 columns]

In [30]:
from keras.models import Sequential

In [31]:
model = Sequential()

In [32]:
from keras.layers import Dense

In [33]:
model.add(
Dense(units=10,
      activation='relu',
      input_shape=(5,),
      kernel_initializer='he_normal',
      bias_initializer='he_normal'
))

In [34]:
model.add(Dense(units=20,
               activation='relu',
               kernel_initializer='he_normal',
      bias_initializer='he_normal'))

In [35]:
model.add(Dense(units=20,
               activation='relu',
               kernel_initializer='he_normal',
      bias_initializer='he_normal'))

In [36]:
model.add(Dense(units=3,
                activation='softmax'))

In [37]:
model.compile(optimizer='adam', 
            loss='categorical_crossentropy',
             metrics=['accuracy'])

In [38]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                60
_________________________________________________________________
dense_1 (Dense)              (None, 20)                220
_________________________________________________________________
dense_2 (Dense)              (None, 20)                420
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 63
=================================================================
Total params: 763
Trainable params: 763
Non-trainable params: 0
_________________________________________________________________

In [87]:
model.fit(X,y_cat,epochs=120)

Epoch 1/120
7/7 [==============================] - 0s 2ms/step - loss: 0.0636 - accuracy: 0.9907
Epoch 2/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0538 - accuracy: 0.9953
Epoch 3/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0585 - accuracy: 0.9907
Epoch 4/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0523 - accuracy: 1.0000
Epoch 5/120
7/7 [==============================] - 0s 2ms/step - loss: 0.0525 - accuracy: 0.9953
Epoch 6/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0519 - accuracy: 1.0000
Epoch 7/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0515 - accuracy: 1.0000
Epoch 8/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0519 - accuracy: 1.0000
Epoch 9/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0500 - accuracy: 1.0000
Epoch 10/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0498 - accuracy: 0.9953
Epoch 11/120
7/7 [==============================] - 0s 2ms/step - loss: 0.0499 - accuracy: 1.0000
Epoch 12/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0510 - accuracy: 1.0000
Epoch 13/120
7/7 [==============================] - 0s 2ms/step - loss: 0.0501 - accuracy: 0.9907
Epoch 14/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0521 - accuracy: 1.0000
Epoch 15/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0651 - accuracy: 0.9860
Epoch 16/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0655 - accuracy: 0.9953
Epoch 17/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0536 - accuracy: 0.9907
Epoch 18/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0487 - accuracy: 1.0000
Epoch 19/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0516 - accuracy: 0.9907
Epoch 20/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0563 - accuracy: 1.0000
Epoch 21/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0513 - accuracy: 0.9953
Epoch 22/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0493 - accuracy: 0.9953
Epoch 23/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0456 - accuracy: 1.0000
Epoch 24/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0451 - accuracy: 1.0000
Epoch 25/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0449 - accuracy: 1.0000
Epoch 26/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0466 - accuracy: 1.0000
Epoch 27/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0449 - accuracy: 1.0000
Epoch 28/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0457 - accuracy: 1.0000
Epoch 29/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0431 - accuracy: 1.0000
Epoch 30/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0435 - accuracy: 1.0000
Epoch 31/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0424 - accuracy: 1.0000
Epoch 32/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0426 - accuracy: 1.0000
Epoch 33/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0441 - accuracy: 0.9953
Epoch 34/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0408 - accuracy: 1.0000
Epoch 35/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0424 - accuracy: 1.0000
Epoch 36/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0441 - accuracy: 0.9953
Epoch 37/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0403 - accuracy: 1.0000
Epoch 38/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0424 - accuracy: 1.0000
Epoch 39/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0425 - accuracy: 1.0000
Epoch 40/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0453 - accuracy: 0.9953
Epoch 41/120
7/7 [==============================] - ETA: 0s - loss: 0.0312 - accuracy: 1.00 - 0s 4ms/step - loss: 0.0380 - accuracy: 1.0000
Epoch 42/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0459 - accuracy: 0.9860
Epoch 43/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0533 - accuracy: 1.0000
Epoch 44/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0438 - accuracy: 0.9953
Epoch 45/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0402 - accuracy: 1.0000
Epoch 46/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0386 - accuracy: 1.0000
Epoch 47/120
7/7 [==============================] - ETA: 0s - loss: 0.0488 - accuracy: 1.00 - 0s 3ms/step - loss: 0.0382 - accuracy: 1.0000
Epoch 48/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0391 - accuracy: 1.0000
Epoch 49/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0435 - accuracy: 1.0000
Epoch 50/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0388 - accuracy: 1.0000
Epoch 51/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0393 - accuracy: 1.0000
Epoch 52/120
7/7 [==============================] - 0s 7ms/step - loss: 0.0374 - accuracy: 1.0000
Epoch 53/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0372 - accuracy: 1.0000
Epoch 54/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0373 - accuracy: 1.0000
Epoch 55/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0369 - accuracy: 1.0000
Epoch 56/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0353 - accuracy: 1.0000
Epoch 57/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0376 - accuracy: 1.0000
Epoch 58/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0368 - accuracy: 1.0000
Epoch 59/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0341 - accuracy: 1.0000
Epoch 60/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0342 - accuracy: 1.0000
Epoch 61/120
7/7 [==============================] - ETA: 0s - loss: 0.0397 - accuracy: 1.00 - 0s 4ms/step - loss: 0.0351 - accuracy: 1.0000
Epoch 62/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0343 - accuracy: 1.0000
Epoch 63/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0333 - accuracy: 1.0000
Epoch 64/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0332 - accuracy: 1.0000
Epoch 65/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0328 - accuracy: 1.0000
Epoch 66/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0327 - accuracy: 1.0000
Epoch 67/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0336 - accuracy: 1.0000
Epoch 68/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0322 - accuracy: 1.0000
Epoch 69/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0340 - accuracy: 1.0000
Epoch 70/120
7/7 [==============================] - ETA: 0s - loss: 0.0297 - accuracy: 1.00 - 0s 3ms/step - loss: 0.0322 - accuracy: 1.0000
Epoch 71/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0326 - accuracy: 1.0000
Epoch 72/120
7/7 [==============================] - 0s 2ms/step - loss: 0.0330 - accuracy: 1.0000
Epoch 73/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0325 - accuracy: 1.0000
Epoch 74/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0326 - accuracy: 1.0000
Epoch 75/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0313 - accuracy: 1.0000
Epoch 76/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0321 - accuracy: 1.0000
Epoch 77/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0312 - accuracy: 1.0000
Epoch 78/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0315 - accuracy: 1.0000
Epoch 79/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0303 - accuracy: 1.0000
Epoch 80/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0357 - accuracy: 1.0000
Epoch 81/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0395 - accuracy: 0.9953
Epoch 82/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0426 - accuracy: 1.0000

Epoch 83/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0357 - accuracy: 0.9953
Epoch 84/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0330 - accuracy: 1.0000
Epoch 85/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0301 - accuracy: 1.0000
Epoch 86/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0282 - accuracy: 1.0000
Epoch 87/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0281 - accuracy: 1.0000
Epoch 88/120
7/7 [==============================] - ETA: 0s - loss: 0.0262 - accuracy: 1.00 - 0s 2ms/step - loss: 0.0279 - accuracy: 1.0000
Epoch 89/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0277 - accuracy: 1.0000
Epoch 90/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0273 - accuracy: 1.0000
Epoch 91/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0277 - accuracy: 1.0000
Epoch 92/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0278 - accuracy: 1.0000
Epoch 93/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0269 - accuracy: 1.0000
Epoch 94/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0276 - accuracy: 1.0000
Epoch 95/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0287 - accuracy: 1.0000
Epoch 96/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0284 - accuracy: 1.0000
Epoch 97/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0269 - accuracy: 1.0000
Epoch 98/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0269 - accuracy: 1.0000
Epoch 99/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0265 - accuracy: 1.0000
Epoch 100/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0250 - accuracy: 1.0000
Epoch 101/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0255 - accuracy: 1.0000
Epoch 102/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0272 - accuracy: 1.0000
Epoch 103/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0252 - accuracy: 1.0000
Epoch 104/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0258 - accuracy: 1.0000
Epoch 105/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0253 - accuracy: 1.0000
Epoch 106/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0245 - accuracy: 1.0000
Epoch 107/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0246 - accuracy: 1.0000
Epoch 108/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0248 - accuracy: 1.0000
Epoch 109/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0244 - accuracy: 1.0000
Epoch 110/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0247 - accuracy: 1.0000
Epoch 111/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0238 - accuracy: 1.0000
Epoch 112/120
7/7 [==============================] - 0s 12ms/step - loss: 0.0238 - accuracy: 1.0000
Epoch 113/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0233 - accuracy: 1.0000
Epoch 114/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0229 - accuracy: 1.0000
Epoch 115/120
7/7 [==============================] - 0s 5ms/step - loss: 0.0243 - accuracy: 1.0000
Epoch 116/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0250 - accuracy: 1.0000
Epoch 117/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0297 - accuracy: 1.0000
Epoch 118/120
7/7 [==============================] - 0s 3ms/step - loss: 0.0243 - accuracy: 1.0000
Epoch 119/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0257 - accuracy: 1.0000
Epoch 120/120
7/7 [==============================] - 0s 4ms/step - loss: 0.0223 - accuracy: 1.0000

In [88]:
p=model.predict([[43,0,0,1,0]])    #3

In [89]:
p

array([[0.00614573, 0.01348631, 0.980368  ]], dtype=float32)

In [90]:
p=model.predict([[42,1,0,1,0]])       #2

In [91]:
p

array([[0.03282675, 0.9638059 , 0.00336731]], dtype=float32)

In [92]:
p=model.predict([[22,1,0,0,0]])  #1

In [93]:
p

array([[9.8497957e-01, 1.5014741e-02, 5.7175425e-06]], dtype=float32)

In [94]:
p=model.predict([[42,0,1,1,0]]) #1

In [95]:
p

array([[9.8945892e-01, 2.5169800e-11, 1.0541135e-02]], dtype=float32)

In [96]:
p=model.predict([[57,0,0,1,0]]) #3

In [97]:
p

array([[0.0114712 , 0.01758615, 0.97094256]], dtype=float32)

In [98]:
p=model.predict([[57,0,0,0,0]])  #2

In [99]:
p

array([[0.00190339, 0.9850449 , 0.01305172]], dtype=float32)

In [100]:
p=model.predict([[37,0,0,1,0]])   #3

In [101]:
p

array([[0.00469786, 0.01202235, 0.9832798 ]], dtype=float32)

In [102]:
model.save('100%.h1')

INFO:tensorflow:Assets written to: 100%.h1\assets

In [ ]:
    x1 = int(input("Enter age"))               #correct
    x2 = int(input("Enter 1"))
    x3 = int(input("Enter 2"))
    x4 = int(input("Enter 3"))
    x5 = int(input("Enter 4"))
    op = model.predict([[ int(x1), int(x2), int(x3), int(x4), int(x5)]])
    a=op[0][0]
    b=op[0][1]
    c=op[0][2]
    if (a >= b) and (a >= c):
        print(1)
    elif (b >= a) and (b >= c):
        print(2)
    
    else:
        print(3)

In [103]:
p=model.predict([[22,1,0,0,1]])  #1

In [104]:
p

array([[9.9987960e-01, 1.2041288e-04, 1.0830421e-09]], dtype=float32)

In [105]:
p=model.predict([[42,1,0,1,0]]) #2

In [106]:
p

array([[0.03282675, 0.9638059 , 0.00336731]], dtype=float32)

In [107]:
p=model.predict([[43,0,0,1,0]]) #3

In [108]:
p

array([[0.00614573, 0.01348631, 0.980368  ]], dtype=float32)

In [109]:
p=model.predict([[53,0,0,1,0]]) #3

In [110]:
p

array([[0.00960227, 0.01630968, 0.9740881 ]], dtype=float32)

In [112]:
p=model.predict([[34,0,0,1,1]]) #2

In [113]:
p

array([[7.512555e-05, 9.914910e-01, 8.433839e-03]], dtype=float32)

In [114]:
import math

In [115]:
max(4,5,6)

6

In [117]:
max(7.512555e-05, 9.914910e-01, 8.433839e-03)

0.991491

In [157]:
p=model.predict([[22,0,1,0,0]]) #1

In [158]:
p

array([[9.9785429e-01, 1.6171178e-08, 2.1457330e-03]], dtype=float32)

In [165]:
p=model.predict([[30,0,1,1,0]]) #1

In [166]:
p

array([[9.9943656e-01, 7.6183521e-12, 5.6338578e-04]], dtype=float32)